{% extends 'index.html' %}

{% block views %}
  <br>
  <div class="ui container" id="add">
  {% if Ruta %}
    <h1 class="ui blue dividing header">Editar ruta</h1>
  {% else %}
      <h1 class="ui blue dividing header">Crear ruta</h1>
  {% endif %}
    <form class="ui form" method="POST">
      <div class="required field">
        <label>Nombre de la ruta:</label>
        <input type="text" name="name" id="name" autocomplete="off" placeholder="Nombre de la ruta estándar"
        value="{{Ruta.Nombre}}">
      </div>
      {% if Ruta.Habilitado == true %}
        <div class="ui checkbox">
        <input type="checkbox" id="enabled" name="enabled" checked="checked">
        <label for="enabled">Habilitada</label>
      </div>
      {% else %}
        <div class="ui checkbox">
        <input type="checkbox" id="enabled" name="enabled">
        <label for="enabled">Habilitada</label>
      </div>
      {% endif %}
      <h3 class="ui blue dividing header">Días de servicio</h3>
      <div class="grouped fields">
        <label>Seleccione los días de servicio de la ruta estándar:</label>
      {% if Condiciones.Lunes == true %}
        <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <label for="monday">Lunes</label>
              <input type="checkbox" id="monday" name="monday" checked="checked">
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="monday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="monday_frequency" min="1" max="40" value="{{Condiciones.CantidadMotoristasLunes}}" id="monday_frequency" style="width:70px">
          </div>
        </div>
      {% else %}
        <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <label for="monday">Lunes</label>
              <input type="checkbox" id="monday" name="monday">
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="monday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="monday_frequency" min="1" max="40" value="1" id="monday_frequency" style="width:70px">
          </div>
        </div>
      {% endif %}
      {% if Condiciones.Martes == true %}
        <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="tuesday" name="tuesday" checked="checked">
              <label for="tuesday">Martes</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="tuesday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="tuesday_frequency" min="1" max="40" value="{{Condiciones.CantidadMotoristasMartes}}" id="tuesday_frequency" style="width:70px">
          </div>
        </div>
      {% else %}
        <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="tuesday" name="tuesday">
              <label for="tuesday">Martes</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="tuesday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="tuesday_frequency" min="1" max="40" value="1" id="tuesday_frequency" style="width:70px">
          </div>
        </div>
      {% endif %}
      {% if Condiciones.Miercoles == true %}
        <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="wednesday" name="wednesday" checked="checked">
              <label for="wednesday">Miércoles</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="wednesday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="wednesday_frequency" min="1" max="40" value="{{Condiciones.CantidadMotoristasMiercoles}}" id="wednesday_frequency" style="width:70px">
          </div>
        </div>
      {% else %}
        <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="wednesday" name="wednesday">
              <label for="wednesday">Miércoles</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="wednesday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="wednesday_frequency" min="1" max="40" value="1" id="wednesday_frequency" style="width:70px">
          </div>
        </div>
      {% endif %}
        {% if Condiciones.Jueves == true %}
          <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="thursday" name="thursday" checked="checked">
              <label for="thursday">Jueves</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="thursday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="thursday_frequency" min="1" max="40" value="{{Condiciones.CantidadMotoristasJueves}}" id="thursday_frequency" style="width:70px">
          </div>
        </div>
        {% else %}
          <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="thursday" name="thursday">
              <label for="thursday">Jueves</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="thursday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="thursday_frequency" min="1" max="40" value="1" id="thursday_frequency" style="width:70px">
          </div>
        </div>
        {% endif %}
        {% if Condiciones.Viernes == true %}
          <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="friday" name="friday" checked="checked">
              <label for="friday">Viernes</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="friday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="friday_frequency" min="1" max="40" value="{{Condiciones.CantidadMotoristasViernes}}" id="friday_frequency" style="width:70px">
          </div>
        </div>
        {% else %}
          <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="friday" name="friday">
              <label for="friday">Viernes</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="friday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="friday_frequency" min="1" max="40" value="1" id="friday_frequency" style="width:70px">
          </div>
        </div>
        {% endif %}
        {% if Condiciones.Sabado == true %}
          <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="saturday" name="saturday" checked="checked">
              <label for="saturday">Sábado</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="saturday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="saturday_frequency" min="1" max="40" value="{{Condiciones.CantidadMotoristasSabado}}" id="saturday_frequency" style="width:70px">
          </div>
        </div>
        {% else %}
          <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="saturday" name="saturday">
              <label for="saturday">Sábado</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="saturday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="saturday_frequency" min="1" max="40" value="1" id="saturday_frequency" style="width:70px">
          </div>
        </div>
        {% endif %}
        {% if Condiciones.Domingo == true %}
          <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="sunday" name="sunday" checked="checked">
              <label for="sunday">Domingo</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="sunday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="sunday_frequency" min="1" max="40" value="{{Condiciones.CantidadMotoristasDomingo}}" id="sunday_frequency" style="width:70px">
          </div>
        </div>
        {% else %}
          <div class="two inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="sunday" name="sunday">
              <label for="sunday">Domingo</label>
            </div>
          </div>
          <div class="field" style="margin-left:-300px">
            <label for="sunday_frequency" style="font-size:13px;">Cantidad de motoristas al día:</label>
            <input type="number" name="sunday_frequency" min="1" max="40" value="1" id="sunday_frequency" style="width:70px">
          </div>
        </div>
        {% endif %}
      </div>
      <input type="hidden" id="route_id" name="route_id" value="{{ Ruta.IDRuta }}">
      <input type="hidden" id="route_conditions_id" name="route_conditions_id" value="{{ Condiciones.IDCondicionesRuta }}">
      <br>
      <a href="/rutas">
        <div class="ui left floated animated button" type="button">
          <div class="visible content">Volver</div>
          <div class="hidden content">
            <i class="left arrow icon"></i>
          </div>
        </div>
      </div>
    </a>
    <button class="ui positive button" type="submit" id="guardar" name="guardar">Guardar</button><br>
  </form>
  <br>
  {% if errors %}
    <div class="ui error message">
      {% for error in errors %}
        <li>
          {{ error.msg }}
        </li>
      {% endfor %}
    </div>
  {% endif %}
</div>
</div>

<script src="/javascript/route/a_route_add.js"></script>
{% endblock %}