.pusher {
    max-height: max-content;
    height: fit-content + 10em;
}

#mytable_wrapper {
    /* padding-top: 0.5em; */
    overflow-x: hidden;
    overflow-y: hidden;
}

.dataTables_scrollBody {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}