{% extends 'index.html' %}


{% block views %}
<div id="exito" class="ui success message center aligned" style="display: none">
    <div class="header green">Éxito</div>
    <p>¡Registro guardado correctamente!</p>
</div>

<div class="ui container" id="bad">
    <div class="ui vertically divided grid">
        <div class="sixteen wide column">
            <br>
            <h1 id="title" class="ui blue dividing header"><i class="map icon"></i>Lista de lugares frecuentes</h1>
            <a href="/lugares_frecuentes/nuevo"><button class="ui ui labeled icon  right floated blue button"
                    type="submit"><i class="plus icon"></i>Agregar
                </button></a>
            <label style="margin-right: 0.1em;">Filtrar por ruta: </label>
            <div class="ui search selection dropdown" id="div_ruta">
                <input id="ruta" type="hidden" name="ruta" value="">
                <i class="dropdown icon"></i>
                <div class="text">Todos</div>
                <div id="menu" class="menu" value="You got it">
                    <div class="item active selected" value=0>Todos</div>
                    {% if rutas %}
                    {% for r in rutas %}
                    <div class="item" value={{r.IDRuta}}>{{r.Nombre}}</div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <input type="hidden" id="messages" name="messages" value="{{messages}}">
            <div id="fTable" class="ui basic segment" style="margin-top: 1em;">
                <table class="ui celled table datatable" id="mytable" name="mytable" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Detalle:</th>
                            <th>Departamento:</th>
                            <th>Municipio:</th>
                            <th>Acciones:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Recibiendo todas las direcciones e insertandolas en la tabla -->
                        {% for fplace in fplaces %}
                        <tr data-id="{{fplace.IDLugarFrecuente}}">
                            <td>{{ fplace.NombreLugarFrecuente | trim }}</td>
                            <td>{{ fplace.DetalleLugarFrecuente | trim }}</td>
                            <td>{{ fplace.Departamento.NombreUbicacionGeografica | trim }}</td>
                            <td>{{ fplace.Municipio.NombreUbicacionGeografica | trim }}</td>
                            <td>
                                <i class="large pencil yellow alternate link icon"
                                    value={{fplace.IDLugarFrecuente}}></i>
                                {% if fplace.LugarFrecuenteActivo == 1 %}
                                <i class="large trash red alternate outline link icon"
                                    value="{{fplace.IDLugarFrecuente}}"></i>
                                {% else %}
                                <i class="large check green circle outline link icon"
                                    value="{{fplace.IDLugarFrecuente}}" title="Activar"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>

<div class="ui mini inverted modal" id="deleteModal">
    <div class="ui icon header">
        <i class="trash alternate outline icon"></i>
        Dar de baja Lugar Frecuente.
    </div>

    <div class="content">
        <p>¿Esta seguro de dar de baja el lugar frecuente?</p>
    </div>

    <div class="actions">
        <div class="ui green ok inverted button" type="submit">
            <i class="checkmark icon"></i>
            Aceptar
        </div>
        <div class="ui red deny button" type="submit">
            <i class="remove icon"></i>
            Cancelar
        </div>
    </div>
</div>

<div class="ui mini inverted modal" id="activeModal">
    <div class="ui icon header">
        <i class="check circle outline icon"></i>
        Activar Lugar Frecuente.
    </div>

    <div class="content">
        <p>¿Esta seguro de Activar el lugar frecuente?</p>
    </div>

    <div class="actions">
        <div class="ui green ok inverted button" type="submit">
            <i class="checkmark icon"></i>
            Aceptar
        </div>
        <div class="ui red deny button" type="submit">
            <i class="remove icon"></i>
            Cancelar
        </div>
    </div>
</div>

<script src="/javascript/frequent_places/a_frequent_places_list.js"></script>
<link rel="stylesheet" href="/stylesheets/datatablefix.css">
</link>
<link rel="stylesheet" href="/stylesheets/frequent_places/frequent_places_list.css">

{% endblock %}